/* --------------- BODY -------------- */

.photograph-header {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photographer-info h1 {
    margin: 0;
    font-size: 4em;
    font-weight: 400;
    color: #d3573c;
}

.photographer-info h2 {
    color: #901C1C;
    margin: 0;
}

.photographer-info h3 {
    color: #000;
    margin: 1em 0;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    overflow: hidden;
    clip-path: circle(35%);
    transform: scale(1.5);
}

/* ---------------- LIST IMAGES--------------- */

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.media-element {
    width: 350px;
    height: 350px;
    list-style: none;
    margin: 10px;
}

.media-element img {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.media-element h4 {
    font-weight: 400;
    color: #901C1C;
}

.media-element i {
    font-size: 20px;
}

/* --------------- MODAL -------------- */

#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    font-size: 2em;
    padding-left: 0.2em;
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

#formContent {
    height: 5em;
}